@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 400;
    src: url(https://d3syewzhvzylbl.cloudfront.net/fonts/google-fonts/kanit/regular.woff2) format('woff2');
  }


  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url(https://d3syewzhvzylbl.cloudfront.net/fonts/google-fonts/poppins/regular.woff2) format('woff2');
  }


  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url(https://d3syewzhvzylbl.cloudfront.net/fonts/google-fonts/poppins/700.woff2) format('woff2');
  }